<!doctype html>
<html>
    <head>
        <title>Clrkio: sync</title>
    </head>
    <body>
        <h1>Sync results</h1>
        <h2>Members added during this sync:</h2>
        <ul>
            {% for m in added|sort(attribute='full_name') %}
            <li>{{ m.full_name }}</li>
            {% endfor %}
        </ul>
        <h2>Members removed during this sync:</h2>
        <ul>
            {% for m in removed|sort(attribute='full_name') %}
            <li>{{ m.full_name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
